// LIB
@import "../components/bourbon/dist/bourbon.scss";

// GLOBAL VARS
@import "globals";

// SASS UTILS
@import "util";

//
// HELP FROM SASSQUATCH
//
@import "core/legacy-layout";


/// Typography -----------------------------
@import "core/element_defaults";
@import "core/type-reset";
@import "core/text";
@import "core/headings";

/// Lists ----------------------------------
@import "core/lists";


/// Screen Structure -----------------------
@import "core/screen-structure";

/// Forms ----------------------------------
@import "core/forms";
@import "core/buttons";


/// Media ----------------------------------
@import "core/media";


/// Components ----------------------------------
@import "ui-components/avatar";
@import "ui-components/tearsheet";
@import "ui-components/text-protection";
@import "ui-components/toggle-pill";

// TODO: rename these guys
@import "ui-components/momentary";
@import "ui-components/momentary-alert";
@import "ui-components/momentary-popover";


/// Modifiers  ----------------------------------
@import "core/modifiers";


// TODO: remove this unsorted doc placeholder

/*doc
---
title: Unsorted
name: unsorted
category: Unsorted
---
*/
