////
/// @group background
////


/// Sets background-clip property
/// @access public
///
/// @param {Value} $value - valid background-clip value
/// @output vendor-prefixed background-clip rule
///
/// @example
/// 	@include background-clip($value: padding);
/// 	@include background-clip('border');
///
@mixin background-clip($value:padding){
	@include prefixer(background-clip, $value, $prefixes);
}


/// Sets background properties that center a background image,
/// set size to `cover`, and `overflow` to `hidden`
/// @access public
///
/// @example
/// 	@extend %imgFill;
///
%imgFill {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
