/*doc
---
title: Bounds
name: bounds
category: Layout
---
Used as a non-visual content container that manages content measure,
 Similar to [sassquatch 1 `docBounds`](http://meetup.github.io/sassquatch/doc_desktop/layout.html#docstar).

Centers children with auto margin, clears floats, applies
padding, and sets a max-width.

```html_example
<section class="stripe">
	<p>This is just a paragraph inside a stripe. There's no bounds element to center and set the measure of this text.</p>
</section>

<section class="stripe">
	<div class="bounds">
		<p>This paragraph is inside a bounds. It enjoyes auto-margin and a max-width to ensure the type measure remains readable at all viewport sizes.</p>
	</div>
</section>

<section class="stripe">
	<div class="bounds _DOC-SHADE">
		<p><strong>Previous example, shaded to show detail</strong></p>
		<p>This paragraph is inside a bounds. It enjoyes auto-margin and a max-width to ensure the type measure remains readable.</p>
	</div>
</section>
```

#### Bounds variants

Class                  | Description
---------------------- | -------------------------------------
`.bounds`              | standard (narrow) bounds for any type of content
`.bounds--wide`        | bounds for wrapping wider content, such as gridList
`.bounds--sideHeader`  | bounds for wrapping standard (narrow) content, offset by labels to the side at wide widths

*/

$space-bounds: $space * 1.5;

.bounds {
	@extend %clearfix;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: $bounds;
	padding: $space-bounds $space ($space-bounds - $space); // subtract for .chunk at bottom
	width: 100%;
}

.bounds--wide{
	max-width: $bounds-wide;
}

.bounds--sideHeader{
	$gutter: $bounds-wide - $bounds;
	max-width: $bounds-wide;
	@include atMediaUp(large) {
		padding-left: $gutter + $space;
		position: relative;
		.stripe-header{
			position: absolute;
			top: $space-bounds;
			left: $space;
			width: $gutter - $space-bounds;
		}
	}
}

