/*doc
---
title: Horizontal Scroll
name: hscroll
category: Layout
---
Applies styles for horizontal scrolling lists.

```html_example
<div class="hscroll">
	<ul class="hscroll-content">
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
	</ul>
</div>
```

## Media-conditional `hscroll`
It's possible to create an `hscroll` for small screens that expands
into a non-scrolling list in the document flow for larger screens.

```html_example
<div class="hscroll atMedium_hscroll--unclip">
	<ul class="hscroll-content">
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
		<li>
			<a class="card card--group inverted" href="http://www.dev.meetup.com/New-York-City-Social-Group/" style="background-image: url(http://photos1.dev.meetupstatic.com/photos/event/1/b/3/2/600_406026962.jpeg);">
				<div class="card--group-content">
					<h4 class="text--bold">New York City Social Group</h4>
					<p>979 Members</p>
				</div>
			</a>
		</li>
	</ul>
</div>
```

A class of `hscroll` is __required__; the following classes are
optional variants:

Class                       | Description
--------------------------- | ----------------------------------
`atMedium_hscroll--unclip`  | Allows visible overflow (as inline block list) at medium & up
`atLarge_hscroll--unclip`  | Allows visible overflow (as inline block list) at large & up

*/
.hscroll {
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}

.hscroll-content {
	@extend %inlineblockList;
	box-sizing: content-box;
	white-space: nowrap;
}

.hscroll-content--cards {
	> li {
		width: $block-5;
	}
}

@include _bpModifier(hscroll, unclip) {
	-webkit-overflow-scrolling: auto;
	-ms-overflow-style: auto;
	overflow-x: visible;

	.hscroll-content {
		white-space: normal;
	}
}
