/*doc
---
title: Inline-block list
name: inlineblockList
category: Layout
---
Resets list styles; adds `display: inline-block` to
each list item and right gutters between items.

```html_example
<ul class="inlineblockList">
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
</ul>
```

*/
%inlineblockList,
.inlineblockList {
	margin: 0;
	padding: 0;
	> li {
		display: inline-block;
		padding-right: $space-half;
	}
}
