/*doc
---
title: Inline-block list
name: inlineblockList
category: Layout
---
Resets list styles; adds `display: inline-block` to
each list item and right gutters between items.

A class of `inlineblockList` is __required__. The following classes are
optional variants:

Class                        | Description
---------------------------- | -------------------------------------
`inlineblockList--bulleted`  | puts a bullet between each list item. Used for thinks like lists of links

```html_example
<ul class="inlineblockList">
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
</ul>
```

*/
%inlineblockList,
.inlineblockList {
	margin: 0;
	padding: 0;
	> li {
		display: inline-block;
		padding-right: $space-half;
		&:last-child {
			padding-right: 0;
		}
	}
}

.inlineblockList--bulletedList > li {

	&:after {
		content: '·';
		padding-left: $space-half;
	}

	&:last-child {
		&:after {
			display: none;
		}
	}

}
