/*doc
---
title: Layout
name: layout
category: Core
---
TK
TODO: link to separate layout visual example page
*/


// TODO: half space children container


/*doc
---
title: Stripe
name: stripe
parent: layout
---
A `.stipe` class should be applied to `<section>` elements
to visually divide the page with stripes of color.

To align content within a stripe, use `.bounds`.

```html_example
<section class="stripe">
	<div class="bounds">
		<p>... default stripe ...</p>
	</div>
</section>

<section class="stripe--inverted inverted">
	<div class="bounds">
		<p>... inverted stripe, using `inverted` class to set text colors  ...</p>
	</div>
</section>

<section class="stripe--collection">
	<div class="bounds">
		<p>... collection variant of stripe, used to contain collections of cards </p>
	</div>
</section>
```

#### Stripe variants
A class of `.stripe` is required; the following classes are
optional variants:

Class                | Description
-------------------- | ------------------------------------------------------------
`.stripe--inverted`  |  applies the standard `$C_contentBGInverted` background color
`.stripe--collection`|  applies a light gray background; for use with card collections
`.stripe--hero`      |  for hero header stripes
`.stripe--photoHero` |  for hero header stripes; adds text protection
*/
%stripe,
.stripe {
	overflow: hidden;
	border-top: 1px solid $C_border;
	background-color: #fff;
	margin-bottom: 0;
}

.stripe--collection {
	@extend %stripe;
	background-color: $C_collectionBGLight;
}

.stripe--inverted {
	@extend %stripe;
	background-color: $C_contentBGInverted;
}

%_heroStripe {
	@extend %stripe;
	background-color: $C_accent;
	background-size: cover;
	background-position: center 20%;
	background-repeat: no-repeat;
	border-top: none;
	overflow: hidden;
	position: relative;

}
.stripe--hero {
	@extend %_heroStripe;
}
.stripe--photoHero {
	@extend %_heroStripe;
	@include textProtectionScrim();
}


// TODO: find out what's up with the bottom spacing within a stripe

/*doc
---
title: Bounds
name: bounds
parent: layout
---
Used as a non-visual content container that manages content measure,
 Similar to [sassquatch 1 `docBounds`](http://meetup.github.io/sassquatch/doc_desktop/layout.html#docstar).

Centers children with auto margin, clears floats, applies
padding, and sets a max-width.

```html_example
<section class="stripe">
	<p>This is just a paragraph inside a stripe. There's no bounds element to center and set the measure of this text.</p>
</section>

<section class="stripe">
	<div class="bounds">
		<p>This paragraph is inside a bounds. It enjoyes auto-margin and a max-width to ensure the type measure remains readable at all viewport sizes.</p>
	</div>
</section>

<section class="stripe">
	<div class="bounds _DOC-SHADE">
		<p><strong>Previous example, shaded to show detail</strong></p>
		<p>This paragraph is inside a bounds. It enjoyes auto-margin and a max-width to ensure the type measure remains readable.</p>
	</div>
</section>
```

#### Bounds variants

Class             | Description
----------------- | -------------------------------------
`.bounds`         | standard bounds for any type of content
`.bounds--form`   | bounds for wrapping forms; applies narrower measure
*/
.bounds {
	@extend %clearfix;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: $bounds;
	padding: $space;
	width: 100%;
}
.bounds--form {
	max-width: $form-max-width;
}


/*doc
---
title: Chunk
name: chunk
parent: layout
---
Adds bottom space to an element
or a group of elements.

```html_example
<div class="_DOC-SHADE chunk">
	<h2>Some heading</h2>
	<p>Some text</p>
	<p class="text--caption">Some kind of caption</p>
</div>

<p class="text--caption chunk">Chunky caption</p>

<div class="_DOC-SHADE chunk">
	<h2>Some heading</h2>
	<p>Some text</p>
	<p class="text--caption">Some kind of caption</p>
</div>
```
*/
.chunk {
	@extend %clearfix;
	margin-bottom: $space;
}


/*doc
---
title: Flex Row
name: flexRow
parent: layout
---
Arranges content in rows using `display: flex`.

The `.row` class is applied to a wrapping element.

Direct children of `.row` are flex children, and require
a class of `.row-item` with an optional `.row-item--shirnk`
for a flex-shrink item.

The flex children in flex row do not have a `flex-basis` set; a
basis is not required for most common layout tasks.

_Includes `table-cell` fallback for IE8._

#### Examples:

```html_example
<div class="row">
	<div class="_DOC-SHADE row-item">Item 1</div>
	<div class="_DOC-SHADE row-item--shrink">Item 2</div>
	<div class="_DOC-SHADE row-item--shrink">Item 3</div>
	<div class="_DOC-SHADE row-item">Item 4</div>
</div>
```

```html_example
<div class="row">
	<div class="_DOC-SHADE row-item--shrink">Item 1</div>
	<div class="_DOC-SHADE row-item">Item 2</div>
	<div class="_DOC-SHADE row-item--shrink">Item 3</div>
</div>
```

```html_example
<div class="row row--flexEnd">
	<div class="_DOC-SHADE row-item--shrink">Item 1</div>
	<div class="_DOC-SHADE row-item--shrink">Item 2</div>
	<div class="_DOC-SHADE row-item--shrink">Item 3</div>
</div>
```

```html_example
<div class="row row--spaceBetween row--reverse">
	<div class="_DOC-SHADE row-item--shrink">Item 1</div>
	<div class="_DOC-SHADE row-item--shrink">Item 2</div>
	<div class="_DOC-SHADE row-item--shrink">Item 3</div>
	<div class="_DOC-SHADE row-item--shrink">Item 4</div>
</div>
```
*/
.row {
	@include display(flex);
	@include flex-wrap(nowrap);
	@include flex-direction(row);
	@include justify-content(flex-start);
	@include align-items(flex);
}
.row-item {
	padding-left: $space;
	@include flex-grow(1);
	&:first-child {
		padding-left: 0;
	}
}
.row-item--shirnk {
	@include flex-grow(0);
	@include flex-shrink(1);
}


/*doc
---
title: Row variants
name: flexrowParent
parent: flexRow
---

A class of `.row` is __required__ on the flex row parent. The
following classes are optional variants:

Class                   | Description
----------------------- | -------------------------------
`.row--noGutters`       | removes padding from all `.row-item` children
`.row--reverse`         | reverses row order
`.row--flexEnd`         | justifies content to `flex-end`
`.row--center`          | justifies content to `center`
`.row--spaceBetween`    | justifies content to `spaceBetween`
`.row--spaceAround`     | justifies content to `spaceAround`
*/
.row--noGutters .row-item {
	padding: 0;
}
.row--reverse {
	@include flex-direction(row-reverse);
}
@each $jName, $jprop in $flexJustifyMap {
	.row--#{$jName} {
		@include justify-content($jprop);
	}
}

// LT IE9 fallback
.lt--IE9 .row {
	@include box-sizing(border-box);
	display: table;
	table-layout: auto;
	width: 100%;
}
.lt--IE9 .row-item {
	display: table-cell;
	width: 100%;
}
.lt--IE9 .row-item--shrink {
	width: auto;
}
