/*doc
---
title: Layout
name: layout
category: Core
---
TK
*/



/*doc
---
title: Doc stripe
name: docStripe
parent: layout
---
TK
*/
.docStripe {
	overflow: hidden;
	border-top: 1px solid $C_border;
	background-color: #fff;
}

.docStripe--collection {
	background: $C_collectionBGLight;
}

.docStripe--inverted {
	background: $C_contentBGInverted;
}


/*doc
---
title: Doc bounds
name: docBounds
parent: layout
---
TK
*/
.docBounds {
	@extend %clearfix;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: $docBounds;
	padding: $space;
	width: 100%;
}

/*doc
---
title: Flex row
name: flexRow
parent: layout
---

```html_example
<div class="flexrow">
	<div class="flexrow-item--shrink">Flex row item</div>
	<div class="flexrow-item--grow">Flex row item</div>
	<div class="flexrow-item--shrink">Flex row item</div>
</div>
```

*/

// flexrow parent
.flexrow {
	@include display(flex);
	@include flex-wrap(nowrap);
	@include flex-direction(row);
	@include justify-content(flex-start);
	@include align-items(flex);
}

// flexrow parent variants
@each $jName, $jprop in $flexJustifyMap {
	.flexrow--#{$jName} {
		@include justify-content($jprop);
	}
}

// flexrow item gutter variants
.flexrow-item--rGutter {
	padding-right: $space;
}
.flexrow-item--lGutter {
	padding-left: $space;
}
.flexrow-item--gutters {
	padding: 0 $space;
}

// flexrow item shirnk/grow variants
.flexrow-item--shrink {
	@include flex-shrink(1);
}
.flexrow-item--grow {
	@include flex-grow(1);
}

// LT IE9 fallback
.lt--IE9 .flexrow {
	@include box-sizing(border-box);
	display: table;
	table-layout: auto;
	width: 100%;
}
.lt--IE9 .flexrow-item {
	display: table-cell;
}
.lt--IE9 .flexrow-item--grow {
	width: 100%;
}
