//
// COLLECTION HEADINGS
//

// TODO: doc this

%list--reset,
.list--reset {
  list-style: none;
  padding-left: 0;
}

// move to page structure?
.collection-header {
	@extend %valignChildren;
	height: $block;
	margin-bottom: 0;
	.collection-header-actions {
		white-space: nowrap;
		a {
			box-sizing: border-box;
			display: inline-block;
			padding: 0 $space-half;
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

//
// LIST (standard)
//

.list {
	padding: 0;
	margin: 0;
	list-style: none;
	& > li {
		margin: 0;
		border-top: 1px solid $C-border;
		padding-top: $space;
		&:first-child{
			border-top: none;
			padding-top: 0;
		}
	}
}



//
// GRID LIST
//
// example:
// <ul class="gridList gridList--has8 atMedium_gridList--has4 atSmall_gridList--has1">
// <li></li>
// </ul>
//
// A grid layout with breakpoint specific numbers of items in each row.
//
.gridList {
	margin: 0 #{-$space-half} 0 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	> li {
		font-size: 1rem;
		display: inline-block;
		margin: 0;
		padding: 0 $space-half $space-half 0;
		vertical-align: top;
		width: 50%;
		@include box-sizing(border-box);
	}
}
$quantities: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16;

// huge + larger
@each $q in $quantities {
	$percentage-width: percentage(1 / $q);
	.gridList--has#{$q} > li {
		width: $percentage-width;
	}
}

// other breakpoints
$breakpoints: (Large: $breakpoint-l, Medium: $breakpoint-m, Small: $breakpoint-s);
@each $bname, $bp in $breakpoints {
	@include atMediaDown($bname) {
		@each $q in $quantities {
			$percentage-width: percentage(1 / $q);
			.at#{$tw}_gridList--has#{$q} > li {
				width: $percentage-width;
			}
		}
	}
}


.gridList--photo-grid > li {
	padding: 0 $space-quarter $space-quarter 0;
}

@include atMediaDown(medium) {
	.gridList--photo-grid {
		margin: 0 #{-($space + $space-half)} 0 #{-$space};
		padding: 0;
	}
}



//
// INLINE BLOCK LIST
//
.inlineblockList {
	margin: 0;
	padding: 0;
	& > li {
		display: inline-block;
		padding-right: $space-half;
	}
}



//
// HORIZONTAL SCROLLING LISTS
//
// ------------ HSCROLL ------------
.hscroll-wrap {
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	.hscroll {
		box-sizing: content-box;
		padding-left: $space;
		padding-right: $space;
		white-space: nowrap;
		li {
			white-space: normal;
		}
	}
}

.hscroll-wrap-wrap {
	position: relative;
	margin-left: -$space;
	margin-right: -$space;
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: $space;
		top: 0;
	}
	&:before {
		left: 0;
		@include background-image(linear-gradient(to right, #fff, transparentize(#ffffff, 1)));
	}
	&:after {
		right: 0;
		@include background-image(linear-gradient(to left, #fff, transparentize(#ffffff, 1)));
	}
}

// stripe--collection
.stripe--collection .hscroll-wrap-wrap {
	&:before {
		@include background-image(linear-gradient(to right, $C-collectionBGLight, transparentize($C-collectionBGLight, 1)));
	}
	&:after {
		@include background-image(linear-gradient(to left, $C-collectionBGLight, transparentize($C-collectionBGLight, 1)));
	}
}

// stripe--inverted
.stripe--inverted .hscroll-wrap-wrap {
	&:before {
		@include background-image(linear-gradient(to right, $C-contentBGInverted, transparentize($C-contentBGInverted, 1)));
	}
	&:after {
		@include background-image(linear-gradient(to left, $C-contentBGInverted, transparentize($C-contentBGInverted, 1)));
	}
}



