//
// COLLECTION HEADINGS
//

// TODO: doc this

%list--reset,
.list--reset {
  list-style: none;
  padding-left: 0;
}

// move to page structure?
// TODO: refactor & use bourbon mixins
.collection-header {
	@extend %valignChildren;
	height: $block;
	margin-bottom: 0;
	.collection-header-actions {
		white-space: nowrap;
		a {
			box-sizing: border-box;
			display: inline-block;
			padding: 0 $space-half;
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

//
// LIST (standard)
//

.list {
	padding: 0;
	margin: 0;
	list-style: none;
	& > li {
		margin: 0;
		border-top: 1px solid $C-border;
		padding-top: $space;
		&:first-child{
			border-top: none;
			padding-top: 0;
		}
	}
}


//
// INLINE BLOCK LIST
//
.inlineblockList {
	margin: 0;
	padding: 0;
	& > li {
		display: inline-block;
		padding-right: $space-half;
	}
}



// TODO: refactor & move to ui-components/
//
// HORIZONTAL SCROLLING LISTS
//
// ------------ HSCROLL ------------
.hscroll-wrap {
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	.hscroll {
		box-sizing: content-box;
		padding-left: $space;
		padding-right: $space;
		white-space: nowrap;
		li {
			white-space: normal;
		}
	}
}

.hscroll-wrap::-webkit-scrollbar { 
    display: none; 
}

.hscroll-wrap-wrap {
	position: relative;
	margin-left: -$space;
	margin-right: -$space;
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: $space;
		top: 0;
	}
	&:before {
		left: 0;
		@include background-image(linear-gradient(to right, #fff, transparentize(#ffffff, 1)));
	}
	&:after {
		right: 0;
		@include background-image(linear-gradient(to left, #fff, transparentize(#ffffff, 1)));
	}
}

.hscroll-arrow {
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;

	.is-hovered &,
	&:hover { //using js to toggle hover so it won't show on touch screens
		opacity: 1;
	}
}

.hscroll-next {
	right: 0;
}

.hscroll-prev {
	left: 0;
}




// stripe--collection
.stripe--collection .hscroll-wrap-wrap {
	&:before {
		@include background-image(linear-gradient(to right, $C-collectionBGLight, transparentize($C-collectionBGLight, 1)));
	}
	&:after {
		@include background-image(linear-gradient(to left, $C-collectionBGLight, transparentize($C-collectionBGLight, 1)));
	}
}

// stripe--inverted
.stripe--inverted .hscroll-wrap-wrap {
	&:before {
		@include background-image(linear-gradient(to right, $C-contentBGInverted, transparentize($C-contentBGInverted, 1)));
	}
	&:after {
		@include background-image(linear-gradient(to left, $C-contentBGInverted, transparentize($C-contentBGInverted, 1)));
	}
}



