/*doc
---
title: Unsorted
name: unsorted
category: Unsorted
---
*/



/*doc
---
title: Thumbnails
name: thumb
parent: unsorted
---
TODO: doc this
*/
.thumb {
  background-position: center;
  background-size: cover;
  display: block;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}


/*doc
---
title: Aspect ratio helper
name: keepAspect
parent: unsorted
---
TODO: doc this
TODO: doc variants
*/
.keepAspect {
  margin-bottom: 0;
  &:before {
    content: '';
    display: block;
    padding-top: percentage(1/1);
  }
}

.keepAspect--16-9 {
  &:before {
    content: '';
    display: block;
    padding-top: percentage(9/16);
  }
}

.keepAspect--2-1 {
  &:before {
    content: '';
    display: block;
    padding-top: percentage(1/2);
  }
}
