
// TODO: this set of classes, or sass/components/_avatar.scss ?
//
/* AVATAR */
//
.avatar {
  @extend %imgFill;
  background-color: $C_collectionBGLight;
  background-position: center 42%;
  display: inline-block;
  font-size: $media-m * 2/3;
  height: $media-m;
  text-indent: 100%;
  white-space: nowrap;
  vertical-align: top;
  width: $media-m;
}

.avatar--person {
  @include transition(all 100ms $ease-in-out-quad);
  box-sizing: border-box;
  border-radius: 999px;
  vertical-align: middle;
  /*
  &:hover {
    @include transform(scale(.9));
    box-shadow: 0 0 0 1px rgba(0,0,0,0);
    opacity: .8;
  }
  */
}

.avatar--xsmall {
	font-size: $media-xs;
	height: $media-xs;
	width: $media-xs;
}

.avatar--small {
  width: $media-s;
  height: $media-s;
  font-size: $media-s;
}
.avatar--big {
  width: $media-xl;
  height: $media-xl;
  font-size: $media-l * 2/3;
}

// charms
.avatar--fb-friend, .avatar--org{
    position: relative;
    overflow: visible;
	&:after {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px;
	    border-radius: 999px;
	    bottom: 0;
		content: "";
	    display: block;
	    font-size: 10px;
	    font-weight: $W_bold;
	    height: $space;
	    line-height: $space;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    text-indent: 0%;
	    width: $space;
	}
}
.avatar--fb-friend{
	&:after {
		background-color: $C_facebook;
		color: $C_textPrimaryInverted;
		content: "f";
	}
}
.avatar--org{
	&:after {
        background-color: $C_accent;
        background-image: url('img/org-badge.svg');
		color: $C_textPrimaryInverted;
	}
}
