/*doc
---
title: Modifier classes
name: modifiers
cateogry: Modifier classes
---
*/


//
// PRIVATE modifier factory
//
@mixin _modifier($base, $modification) {
	.#{$base}--#{$modification} {
		@content;
	}
}

//
// PRIVATE media query modifier factory
//
@mixin _bpModifier($breakpoint, $base, $modification) {
	.#{$base}--#{$modification}--at#{capitalizeFirstLetter($breakpoint)} {
		@content;
	}
}


/*doc
---
title: Alignment
name: alignMod
parent: modifiers
---
Modifies text-align property of element

Class             | Description
----------------- | --------------------------------
`.align--center`  | sets `text-align` to `center`
`.align--right`   | sets `text-align` to `right`
`.align--left`    | sets `text-align` to `left`

*/
@each $alignment in (left, right, center) {
	@include _modifier(align, $alignment) {
		text-align: $alignment;
	}
}


/*doc
---
title: Display
name: displayMod
parent: modifiers
---
Modifies display property of element

Class                   | Description
----------------------- | --------------------------------
`.display--none`        | sets `display` to `none`
`.display--block`       | sets `display` to `block`
`.display--inline`      | sets `display` to `inline`
`.display--inlineblock` | sets `display` to `inlineblock`

*/
@each $display in (none, block, inline) {
	@include _modifier(display, $display) {
		display: $display;
	}
}
.display--inlineblock {
	display: inline-block;
}


/*doc
---
title: Borders
name: borderMod
parent: modifiers
---
Sets border properties on element

Class                   | Description
----------------------- | --------------------------------
`.border--top`          | sets a standard top border on the element
`.border--none`         | removes all borders from element

*/
.border--top {
	border-top: $border-standard;
}
.border--none {
	border-width: 0;
}


/*doc
---
title: Type wrap/whitespace
name: typespaceMod
parent: modifiers
---
Sets type wrapping, witespace, and overflow properties on element

Class                         | Description
----------------------------- | --------------------------------
`.wrap--singleLine`           | forces text to a single line (nowrap)
`.wrap--singleLine--truncate` | forces text to a single line (nowrap) and truncates with &hellip;

*/
.wrap--singleLine--truncate {
  white-space: nowrap;
}
.wrap--singleLine--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}


/*doc
---
title: Media conditional modifiers
name: mediaMod
parent: modifiers
---
TK

Class                   | Description
----------------------- | --------------------------------
TK                      | TK

*/
@each $breakpoint in (large, medium, small) {

	// text align
	@include _bpModifier($breakpoint, 'align', 'center') {
		text-align: center;
	}
	@include _bpModifier($breakpoint, 'align', 'right') {
		text-align: right;
	}
	@include _bpModifier($breakpoint, 'align', 'left') {
		text-align: left;
	}

	// display
	@include _bpModifier($breakpoint, 'display', 'none') {
		display: none;
	}
	@include _bpModifier($breakpoint, 'display', 'inline') {
		display: inline;
	}
	@include _bpModifier($breakpoint, 'display', 'block') {
		display: block;
	}
	@include _bpModifier($breakpoint, 'display', 'inlineblock') {
		display: inline-block;
	}

	// border
	@include _bpModifier($breakpoint, 'border', 'top') {
		border-top: $border-standard;
	}
	@include _bpModifier($breakpoint, 'border', 'none') {
		border-width: 0;
	}
}


/*doc
---
title: Image modifiers
name: imgMod
parent: modifiers
---
TK
*/
.imgFill {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}


/*doc
---
title: Media Sizing
name: mediaMod
parent: modifiers
---
Classes for applying dimensions to an element.

Class          | Description
-------------- | ----------------------------
`.media--xs`   | Sets `width` to `$media-xs` and height to `auto`
`.media--s`    | Sets `width` to `$media-s` and height to `auto`
`.media--m`    | Sets `width` to `$media-m` and height to `auto`
`.media--l`    | Sets `width` to `$media-l` and height to `auto`
`.media--xl`   | Sets `width` to `$media-xl` and height to `auto`
*/
@each $sizeName, $size in $media-map {
	@include _modifier('media', $sizeName) {
		height: auto;
		width: $size;
	}
}
