/*doc
---
title: Views
name: views
category: Core
---
*/

%_splitViewBase {
	display: none;
	&.focus {
		display: block;
	}
	@include atMediaUp(medium) {
		width: $view-minWidth;
		display: block;
		&.off {
			display: none;
		}
	}
}

.view {
	@include box-sizing(border-box);
	background: white;
	width: 100%;
	min-height: 100vh;
}

.view--split {
	@extend %_splitViewBase;
	// NOTE: uses fixed position
	// try not to put forms in the split part
	// usually the split view will be a list
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: $view-minWidth;
	border-right: 1px solid $C_border;
	.view-head {
		border-right: 1px solid $C_border;
		width: $view-minWidth;
	}
	.view-body {
		height: 100vh;
		overflow: auto;
	}
}

.view--detail {
	@extend %_splitViewBase;
	padding-left: $view-minWidth;
	.viewHead{
		left: $view-minWidth;
		right: 0;
		width: auto;
		.viewHead-back{
			display: none;
		}
	}
}

.view-body {
	.stripe:first-child {
		padding-top: $block;
	}
}

.view-head {
	@include box-sizing(border-box);
	background: $C_accent;
	color: $C_textPrimaryInverted;
	height: $block;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: map-get($zindex-map, "main-header"); // TODO: maybe abstract this map a bit

}

.view-head--transparent {
	background: transparent;
	border-bottom: none;
	color: $C_textPrimaryInverted;

	.view-head-heading {
		opacity: 0;
	}
}

.view-head--photoOverlay {
	@include background(linear-gradient(transparentize(#000000, .4), transparentize(#000000, 1) ));
}

.view-head-heading {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: $space-half;
}

/*doc
---
title: View hero
name: hero
parent: views
---

A view hero is a  `<header>` element with a `stripe`
variant class.

For solid colors, use `stripe--hero`. For photo heros,
use `stripe--photoHero`, which adds a text protection gradient.

The `stripe-heroContent` child handles height and alignment.

```html_example
<header class="stripe--photoHero" style="background-image: url(http://photos4.meetupstatic.com/photos/event/9/7/7/2/600_432758770.jpeg);">
	<div class="bounds stripe-heroContent inverted">
		<h1 class="text--display">Hero header heading</h1>
	</div>
</header>

<header class="stripe--hero">
	<div class="bounds stripe-heroContent inverted">
		<h1 class="text--display">No photo in this hero</h1>
	</div>
</header>
```
*/
.stripe-heroContent {
	@extend %valignChildren--bottom; // maybe try to align without this?
	min-height: $block-6;
	position: relative;

	@include atMediaDown(medium) {
		min-height: $block-5;
	}
}
