/*doc
---
title: Views
name: views
category: Core
---

## Basic view (<a class="link" href="pages/basic-view.html">Demo</a>)

```
<div class="view">
	<header class="view-head">
		... view-head ...
	</header>
	<main class="view-body">
		... view-body ...
	</main>
</div>
```

## Split view
*/

%_splitViewBase {
	display: none;
	&.focus {
		display: block;
	}
	@include atMediaUp(medium) {
		width: $view-minWidth;
		display: block;
	}
}

.view {
	@include box-sizing(border-box);
	background: white;
	width: 100%;
	min-height: 100vh;
	padding-top: $block;
}

.view-head {
	.view--splitList & {
		border-right: 1px solid $C_border;
		width: $view-minWidth;
	}
	.view--splitDetail & {
		left: $view-minWidth;
		right: 0;
		width: auto;
	}
}

.view-body {
	.view--splitList & {
		height: 100vh;
		overflow: auto;
	}
}

.view--splitList {
	@extend %_splitViewBase;
	// NOTE: uses fixed position
	// try not to put forms in the split part
	// usually the split view will be a list
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: $view-minWidth;
	border-right: 1px solid $C_border;
}

.view--splitDetail {
	@extend %_splitViewBase;
	padding-left: $view-minWidth;
}

.view--dimmed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: map-get($zindex-map, "shade");
	@include transition(all .15s);
	background: $C_modalShade;
	opacity: 1;
}
.view--dimmed-close {
	@include transition(all .15s .15s);
	display: block;
	height: 100vh;
	left: 0;
	line-height: 100vh;
	position: fixed;
	text-align: center;
	top: 0;
	vertical-align: middle;
	width: 100%;
}

.view-body {
	.stripe:first-child {
		padding-top: $block;
	}
}

.view-head {
	@include box-sizing(border-box);
	background: $C_accent;
	color: $C_textPrimaryInverted;
	height: $block;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: map-get($zindex-map, "main-header"); // TODO: maybe abstract this map a bit

}

.view-head--transparent {
	background: transparent;
	border-bottom: none;
	color: $C_textPrimaryInverted;

	.view-head-heading {
		opacity: 0;
	}
}

.view-head--photoOverlay {
	@include background(linear-gradient(transparentize(#000000, .4), transparentize(#000000, 1) ));
}

.view-head-heading {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: $space-half;
}

.stripe-heroContent {
	@extend %valignChildren--bottom; // maybe try to align without this?
	min-height: $block-6;
	position: relative;

	@include atMediaDown(medium) {
		min-height: $block-5;
	}
}


// MODAL VIEW FULL
// full screen at all screen widths
.view--modal-full {
	@include modal-full;
	z-index: map-get($zindex-map, "modal");
}

// MODAL VIEW SNAP
// full at narrow widths, dialog at wide widths
.view--modal-snap {
	@include modal-dialog;
	@include atMediaDown(small){
		@include modal-full;
	}
	z-index: map-get($zindex-map, "modal");
}
