/*doc
---
title: Tables
name: tables
category: Tables
---

## Default table styles

```html_example
<table>
	<thead>
		<tr>
			<th>State</th>
			<th>Number of escalators</th>
			<th>State bird</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>New York</th>
			<td>7,674</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Wyoming</th>
			<td>2</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Oregon</th>
			<td>400</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Florida</th>
			<td>n/a</td>
			<td>Cardinal</td>
		</tr>
	</tbody>
</table>
```
*/
table {
	width: 100%;
	border-collapse: collapse;
}

caption, td, th {
	padding: $space-half;
	text-align: left;
	vertical-align: middle;
}

caption {
	padding-left: 0;
}

thead th {
	font-weight: $W_bold;
	text-transform: uppercase;
	font-size: $font-size-small;
}

td, tbody th {
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: $C_border;
	&:last-child {
		border-right: 1px solid $C_border;
	}
}
tr:last-child {
	td, th {
		border-bottom: 1px solid $C_border;
	}
}
