/*doc
---
title: Avatar
name: avatar
category: UI Components
---

```html_example
<ul class="inlineblockList">
	<li>
		<a href="#" class="avatar avatar--person" style="background-image: url(http://photos3.meetupstatic.com/photos/member/9/1/8/4/thumb_141217252.jpeg);">Member Name</a>
	</li>
	<li>
		<a href="#" class="avatar avatar--person avatar--small" style="background-image: url(http://photos3.meetupstatic.com/photos/member/9/1/8/4/thumb_141217252.jpeg);">Member Name</a>
	</li>
	<li>
		<a href="#" class="avatar avatar--person avatar--big" style="background-image: url(http://photos4.meetupstatic.com/photos/member/d/0/2/c/member_156833292.jpeg);">Member Name</a>
	</li>
	<li>
		<a href="#" class="avatar avatar--person avatar--fbFriend" style="background-image: url(http://photos4.meetupstatic.com/photos/member/5/a/2/thumb_109681442.jpeg);">Member Name</a>
	</li>
	<li>
		<a href="#" class="avatar avatar--person avatar--noPhoto" style="background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDhweCIgaGVpZ2h0PSI0OHB4IiB2aWV3Qm94PSIwIDAgNDggNDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ4IDQ4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIG9wYWNpdHk9IjAuMjYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMjQuMTM3LDI2LjA0MmMtNi4xMjEsMC0xMS4xMDEtNC45OC0xMS4xMDEtMTEuMTAxDQoJUzE4LjAxNiwzLjg0LDI0LjEzNywzLjg0YzYuMTIxLDAsMTEuMTAxLDQuOTgsMTEuMTAxLDExLjEwMVMzMC4yNTgsMjYuMDQyLDI0LjEzNywyNi4wNDIgTTQwLjAwNiw0MC42NzcNCgljLTEuNTg5LTYuNTUyLTguNDUzLTExLjQ5My0xNS45NjUtMTEuNDkzUzkuNjY1LDM0LjEyNSw4LjA3Niw0MC42NzdjLTAuMTkzLDAuNzk3LTAuMDEyLDEuNjQzLDAuNDk3LDIuMjkxDQoJYzAuNTE0LDAuNjUzLDEuMjg0LDEuMDQ1LDIuMTEzLDEuMDQ1aDI2LjcxYzAuODMsMCwxLjYtMC4zOTMsMi4xMTMtMS4wNDVDNDAuMDE5LDQyLjMyLDQwLjIsNDEuNDc0LDQwLjAwNiw0MC42NzciLz4NCjwvc3ZnPg0K);
    background-position-y: 2px;
    background-size: 48px;">
			<p>no photo</p> <!-- our person.hbs handlebars template handles this -->
		</a>
	</li>
</ul>
```

## Avatar variants
A base class of `avatar` is __required__. The following classes are
optional variants:

Class                     | Description
------------------------- | ------------------------------------
`avatar--small`           | Adjusts avatar size to the smallest media size
`avatar--big`             | Adjusts avatar size to the biggest media size
`avatar--person`          | Variant for people
`avatar--org`             | Variant for organizers
`avatar--fbFriend`        | Variant for facebook friends
`avatar--icon`            | For icons in avatars (might move this in a later version)
`avatar--noPhoto`         | Resets `text-indent` for avatars without photos, allowing display of fallback content
*/

%avatarCharm {
	overflow: visible;

	&:after {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 10px;
		border-radius: 999px;
		bottom: 0;
		content: "";
		display: inline-block;
		font-size: 10px;
		font-weight: $W_bold;
		height: $space;
		line-height: $space;
		position: absolute;
		right: 0;
		text-align: center;
		text-indent: 0%;
		width: $space;
	}
}

%avatar,
.avatar {
	@extend %imgFill;
	position: relative;
	background-color: $C_textHint;
	background-position: center 42%;
	color: transparent;
	display: inline-block;
	font-size: 0;
	height: $media-s;
	text-indent: 100%;
	white-space: nowrap;
	vertical-align: top;
	width: $media-s;

	.inverted & {
		background-color: $C_textHintInverted;
	}

	@include atMediaUp(medium) {
		height: $media-m;
		width: $media-m;
	}

}

//
// Size variants
//
.avatar--small {
	height: $media-xs;
	width: $media-xs;
}
.avatar--big {
	height: $space-6;
	width: $space-6;
}

//
// Type variants
//
.avatar--noPhoto {
	position: relative;
	text-indent: initial;
	border: 3px solid;
}

.avatar--person {
	@extend %avatar;
	vertical-align: middle;
	border-radius: 999px;
	box-sizing: border-box;
}

.avatar--fbFriend {
	@extend %avatarCharm;
	&:after {
		background-color: $C_facebook;
		color: $C_textPrimaryInverted;
		content: "f";
	}
}

.avatar--org {
	@extend %avatarCharm;
	&:after {
		@extend %backgroundImg--orgBadge;
		background-color: $C_accent;
		color: $C_textPrimaryInverted;
	}
}

.avatar--icon {
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	background-color: $C_collectionBG;
	border-radius: 999px;
	box-sizing: border-box;
	height: $media-s;
	font-size: $font-size;
	line-height: $media-s;
	padding: $space-half;
	text-align: center;
	width: $media-s;

	img {
		width: 100%;
	}

	@include atMediaUp(medium) {
		height: $media-m;
		line-height: $media-m;
		padding: 12px;
		width: $media-m;
	}
}
