/*doc
---
title: Buttons
name: uiButtons
category: UI Components
---

```html_example
<div class="bounds">
	<h3 class="text--bold chunk">Are you sure?</h3>
	<a class="button button--primary">Yes</a>
	<a class="button button--secondary">No</a>
</div>
```
*/

.button {
	@include buttonBase();

	// automatic button gutters
	& + & {
		margin-left: $space/2;
	}
}

.button--primary {
	@include button--solid();
}

.button--secondary {
	@include button--bordered();
}
