/*doc
---
title: Buttons
name: buttons
category: UI Components
---

#### Example

```html_example
<ul class="list">
	<li class="list-item chunk">
		<h3>Standard Buttons</h3>
		<button class="button" href="#">Button</button>
		<button class="button button--primary" href="#">Primary Button</button>
	</li>
	<li class="list-item chunk stripe--inverted inverted padding--all">
		<h3>Contrast Buttons</h3>
		<button class="button button--contrast" href="#">Contrast Button</button>
		<button class="button button--contrast button--primary" href="#">Primary Contrast Button</button>
	</li>
	<li class="list-item chunk">
		<h3>Small buttons</h3>
		<div class="chunk">
			<button class="button button--small" href="#">Small Button</button>
			<button class="button button--primary button--small" href="#">Small Button</button>
		</div>
		<div class="chunk">
			<span class="text--small">Inline text with button</span><button class="button button--primary button--small margin--left" href="#">Inline button with text</button>
		</div>
	</li>
	<li class="list-item chunk">
		<h3>Full width button</h3>
		<div class="chunk">
			<button class="button button--fullWidth" href="#">Wide load</button>
		</div>
		<div class="chunk">
			<button class="button button--primary button--fullWidth" href="#">Wide load</button>
		</div>
	</li>
	<li class="list-item chunk">
		<h3>Icon buttons</h3>
		<div class="chunk">
			<button class="button button--icon" href="#">
				<span class="button-label">Button with right Icon</span>
				<span class="button-icon">X</span>
			</button>
		</div>
		<div class="chunk">
			<button class="button button--icon button--primary" href="#">
				<span class="button-icon">X</span>
				<span class="button-label">Primary button with left Icon</span>
			</button>
		</div>
		<div class="chunk">
			<button class="button button--primary button--icon button--fullWidth" href="#">
				<span class="button-icon">ヘ(◕。◕ヘ)</span>
				<span class="button-label">Full width primary button with left Icon</span>
			</button>
		</div>
	</li>
	<li class="list-item chunk">
		<h3>Disabled buttons</h3>
		<button class="button button--disabled" href="#">Stop</button>
		<button class="button button--primary" disabled>Can't touch this</button>
		<input type="submit" class="button" value="Disabled" disabled />
	</li>
	<li class="list-item chunk">
		<h3>Buttons with form fields</h3>
		<div class="row">
			<div class="row-item">
				<input type="text" placeholder="Field by a button" />
			</div>
			<div class="row-item row-item--shrink">
				<button class="button button--primary">Button by a field</button>
			</div>
		</div>
	</li>
</ul>
```

#### Button variants
A class of `.button` is __required__ for buttons. The following
classes are optional variants:

Class                   | Description
----------------------- | ----------------------------------------
`.button--primary`      | rounded button with dark background; for primary actions
`.button--contrast`     | bold, dark text; use on dark or colorful backgrounds or on photos
`.button--small`        | decreases size of button
`.button--fullWidth`    | makes button fill width
`.button--icon`         | button with icon (see example for markup pattern)
*/

.button {
	@include buttonBase();
	@include buttonHover();
	@include color-all($C_textPrimary);
	background: $C_contentBG;
}

%button--primary,
.button--primary {
	@include buttonColor($C_button);
	.inverted & {
		@include standardBorder(none);
	}
	&.button--contrast {
		@include buttonColor($C_contentBG);
		&:hover,
		&:active,
		&:focus {
			background: $C_borderDarkInverted;
		}
	}
}

%button--contrast,
.button--contrast {
	@include color-all( $C_textPrimary );
	.inverted & {
		@include color-all( $C_textPrimaryInverted );
	}
	background: $C_textHint;
	border-color: $C_borderInverted;

	&:hover,
	&:active,
	&:focus {
		border-color: $C_borderDarkInverted;
	}
}


//
// Disabled buttons
//
.button[disabled],
.button--disabled {
	@include color-all($C_textSecondary, true);
	@include standardBorder(all);
	outline: none;
	background: transparentize($C_mediumGray, .88) !important;
	cursor: default;

	&,
	&:hover,
	&:active {
		@include standardBorder(all);
	}

}

//
// Button size modifiers
//
%button--small,
.button--small {
	font-size: $font-size-small;
	min-height: $space-2;
	padding: 0 $space-half;
}

%button--fullWidth,
.button--fullWidth,
.button.span-100 {
	display: block;
	width: 100%;
}

//
// Icon buttons
//
$_iconGutter: $space;
%button--icon,
.button.button--icon { /* higher specificity to override full width display block fix */
	@include flex-wrap(nowrap);
	@include flex-direction(row);
	@include justify-content(space-between);
}

.button-label,
.button-icon {
	@include align-self(center);
}

.button-label {
	@include flex-grow(1);
	@include flex-basis(0);
	text-align: center;
}

.button-icon {
	@include flex-grow(0);
	@include flex-shrink(0);
	@include flex-basis(auto);
	width: initial;
	line-height: 0;

	&:last-child {
		margin-left: $_iconGutter;
	}
}

.button--small .button-icon {
	min-height: $font-size;
}

//
// DEPRECATED
// .button--borderless => .button--contrast
//
.button--borderless {
	@extend %button--contrast;
}
