/*doc
---
title: Floating Action
name: floatingAction
category: UI Components
---
If a page has a single important action, you can use a `floatingAction` wrapper to
call it out. At small screen sizes, the element with the `floatingAction` class
will fix to the bottom of the viewport.

__Note:__ A class of `hasFloatingAction` is available if extra space is needed at the bottom
of a page for the floating action to "land" in. Apply to the `body` tag.

```html_example
	<div class="bounds">
		<p class="chunk">The button below will fix to the bottom of the viewport at small sizes</p>
		<div class="floatingAction">
			<a href="#" class="button button--primary button--fullWidth">Floating Action</a>
		</div>
	</div>
```
*/

$_buttonHeight: 40px;
$_containerHeight: $space*2 + $_buttonHeight;

.floatingAction {
	box-sizing: border-box;
	padding: $space;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: $C_contentBG;
}

// for `body` tag
.hasFloatingAction {
	background-color: $C_contentBGInverted;
	padding-bottom: $_containerHeight;
}

@include atMediaUp(medium) {
	.floatingAction {
		padding: initial;
		position: static;
		background-color: transparent;
	}
	.hasFloatingAction {
		background-color: transparent;
		padding-bottom: 0;
	}
}
