.momentary-alert {
  @include transform(translate(-50%, -50%));
  left: 50%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 320px; //SHAME :  arbitrary number. we should put this into a variable

  &.off {
    @include transform(translate(-50%,-40%));
  }


  @include atMediaDown(small) {
    @include transform(translate(0,0));
    left: $space;
    right: $space;
    top: 25%;
    width: auto;

    &.off {
      @include transform(translate(0,10px));
    }
  }

  .momentary-btn-list {
    padding: 0 $space;
    text-align: right;
    li {
      display: inline-block;
    }
  }

  &:after, &:before {
    display: none;
  }

}

.momentary-alert-copy {
  padding: $space;
}

.overlayScreen-alert {
  background: $C_textProtection;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: map-get($zindex-map, "shade");
}
