/*doc
---
title: Pagination
name: uiPager
category: UI Components
---

```html_example
<ul role="navigation" class="pagination">
	<li class="pagination-page pagination-page--control">
		<a href="#" class="link" rel="prev">←</a>
	</li>
	<li class="pagination-page">
		<a href="#" class="link"><span class="text--hide">Page </span>1</a>
	</li>
	<li class="pagination-page pagination-page--current inverted">
		<span>2 <em class="text--hide">Current page</em></span>
	</li>
	<li class="pagination-page">
		<a href="#" class="link"><span class="text--hide">Page </span>3</a>
	</li>
	<li class="pagination-page">
		<a href="#" class="link"><span class="text--hide">Page </span>4</a>
	</li>
	<li class="pagination-page pagination-page--control">
		<a href="#" class="link" rel="next">→</a>
	</li>
</ul>
```
*/

.pagination {
	@extend %list--reset;
	@extend %chunk;
	@include flexParent('row');
	@include justify-content(space-around);
}

.pagination-page {
	@extend %align--center;
	@extend %valign--middle;
	border-radius: $defaultRadius;

	&:not(.pagination-page--control){
		@include flexChild('shrink');
		padding: $space-half;
		min-width: $media-xs;
	}
}

.pagination-page--control {
	@include flexChild('grow');

	&:first-child {
		@extend %align--left;
	}
	&:last-child {
		@extend %align--right;
	}
}

.pagination-page--current {
	background: $C_link;
	font-weight: bold; // @extend %text--bold gives me an error
	margin: 0 $space-half;

	@include atMediaUp(small) {
		margin: 0;
	}
}
