/*doc
---
title: Tags
name: tag
category: UI Components
---
*/
.tag{
	border-radius: $defaultRadius;
	color: $C_textPrimaryInverted;
	display: inline-block;
	padding: $space-quarter;
	text-transform: capitalize;

	// RSVPs
	&--yes {
		background: $C_green; //probably shouldn't use actual color name for this var..
	}
	&--no {
		background: $C_collectionBGLight;
		color: $C_textPrimary;
	}
	&--waitlist {
		background: $C_contentBGInverted;
	}
}
