/*doc
---
title: Tearsheet
name: tearsheet
category: UI Components
---
Standard display for dates.

#### Tearsheet example
```html_example
<time datetime="2016-12-31" class="tearsheet">
	<span class="tearsheet-date">13</span>
	<span class="tearsheet-month">Jan</span>
</time>
```
*/

.tearsheet {
	display: inline-block;
	text-align: center;
}

.tearsheet-date,
.tearsheet-month {
	display: block;
}

.tearsheet-date {
	font-size: $font-size-tearsheet;
	font-weight: $W_bold;
}

.tearsheet-month {
	@extend %text--header;
}
