/*doc
---
title: Toggle Pills
name: togglePills
category: UI Components
---

```html_example
<div class="toggleButton">
	<input class="toggleButton-input" type="checkbox" name="topic-pill" id="topic-pill" value="ToggleBtn" />
	<label class="toggleButton-label" for="topic-pill">Dining Out</label>
</div>
```
*/

// Toggle button behavior - try and find a way to bring this into regular button style area
.toggleButton {
	display: inline-block;
	margin: $space-quarter 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.toggleButton-label {
	@extend %buttonBase;
	@extend %button--bordered;
	@extend %button--small;
	margin: 0;
}
.toggleButton-input {
	display: none;
	&:checked + .toggleButton-label {
		background: $C_blue;
		border: none;
		color: $C_textPrimaryInverted;
	}
}

// TODO: rewrite with P-C pcv classes
input.toggle-pill {
  display: none;

  & + label {
    border: 1px solid $C-blue;
    border-radius: 999px;
    color: $C-blue;
    margin-right: $space-half;
    padding: $space-half;
  }

  &:checked + label {
    background: $C-blue;
    color: $C-textPrimaryInverted;
  }

}

//TODO: parameterize animation times in _globals
//TODO: use mixin
.toggle-on {
	@include animate--bounceInSubtle();
	label {
		font-weight: $W_bold;
	}
}
