/*doc
---
title: Token
name: token
category: UI Components
---
Label for a small piece of information. Can be a link or just for display

## Just for display
```html_example
<span class="token">Hiking</span>
```

## Linked
```html_example
<a href="#" class="token token--link">Hiking</a>
```
*/
.token {
	@extend %buttonPersonality;
	@extend %button--small;
	@include buttonBase();
	font-weight: $W_normal;
	background: $C_lightGray;
	color: $C_textSecondary;
	cursor: default;
	margin: $space-quarter 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.token--link {
	@include buttonHover();
	background: $C_contentBG;
	color: $C_link;
	font-weight: $W_bold;
	cursor: pointer;
}
