// ------------ MOMENTARY ------------
// -----------------------------------
// Momentary base styles
//
.momentary {
  @include transition(transform 150ms $ease-in-quart, opacity 150ms $ease-in-quart);
  @include transform(translateY(0));
  @extend %shadow;
  background: $C_contentBG;
  border: 1px solid $C_border;
  border-radius: $defaultRadius;
  opacity: 1;
  position: absolute;
  min-width: 100px;
  z-index: map-get($zindex-map, "momentary");

  &.off {
    opacity: 0;
  }

  &.top-left{
      margin-left: -($pointer_size);
  }
  &.top-right{
      margin-left: $pointer_size;
  }

  .momentary-btn-list {
    background: $C_contentBG;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    a {
      display: block;
      height: $block;
      line-height: $block;
      min-width: 100%;
	  box-sizing: border-box;
      padding: 0 $space-half;
      @extend %button-personality;
    }
  }

  .ios-cancel {
    display: none;
  }
}
