// TODO: Doc this

// TODO: rewrite with less nesting?

.tearsheet {
  background: $C_contentBG;
  border: 1px solid $C_border;
  box-sizing: border-box;
  color: $C_textPrimary;
  font-size: $font-size-small;
  font-weight: $W_bold;
  height: $space-2;
  padding-top: $space-quarter;
  position: relative;
  text-align: center;
  width: $space-2;

  &:before {
    background: $C_accent;
    content: '';
    display: block;
    height: 6px;
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
  }

}

.tearsheet-with-date {
  .tearsheet, .date {
    display: inline-block;
  }
  .tearsheet {
    margin-right: $space-half;
  }
}
