// TODO: Doc this

// TODO: PCV classes

.photo-card--photo,
.photoCard--photo {
  @extend .imgFill;
  position: relative;
  @include textProtectionScrim;
  width: 100%;
  height: 100%;
}

.photo-card--text,
.photoCard--text {
  bottom: 0;
  padding: $space;
  position: absolute;
}
