/*doc
---
title: Alignment
name: alignMod
category: Modifier Classes
---
Modifies `text-align`, `vertical-align`, or
`align-self` property of element.

__Applies `!important` declaration__

Class                    | Description
------------------------ | --------------------------------
`.class`                 | descr

*/
$_flexAlignMap: (
	baseline: baseline,
	bottom: flex-end,
	middle: center,
	top: flex-start
);

@each $alignment in (left, right, center) {
	@include _modifier(align, $alignment) {
		text-align: $alignment !important;
	}
}

@each $valignment in (baseline, bottom, middle, top) {
	@include _modifier(valign, $valignment) {
		@include align-self( map-get($_flexAlignMap, $valignment) );
		vertical-align: $valignment !important;
	}
}
