/*doc
---
title: Animation
name: animMod
category: Modifier Classes
---
Applies keyframes animation to element

Class							  | Description
------------------------- | --------------------------------
`.animate--bounceInSubtle`| Applies bounce-in keyframes animation (plays once)
`.animate--spin`          | Applies 360deg rotation keyframes (infinite)

*/
%animate--bounceInSubtle,
.animate--bounceInSubtle {
	@include animate--bounceInSubtle();
}

%animate--spin,
.animate--spin {
	@include animate--spin();
}
