/*doc
---
title: Aspect ratio helper
name: keepAspect
category: Modifier Classes
---
Maintains a given aspect ratio for flexible media.

Class              | Description
------------------ | ------------------------------
`.keepAspect`      | maintains 1-1 aspect ratio when resized
`.keepAspect--16-9`| maintains 16-9 aspect ratio when resized
`.keepAspect--2-1` | maintains 2-1 aspect ratio when resized

*/
.keepAspect {
  margin-bottom: 0;
  &:before {
    content: '';
    display: block;
    padding-top: percentage(1/1);
  }
}

.keepAspect--16-9 {
  &:before {
    content: '';
    display: block;
    padding-top: percentage(9/16);
  }
}

.keepAspect--2-1 {
  &:before {
    content: '';
    display: block;
    padding-top: percentage(1/2);
  }
}
