/*doc
---
title: Borders
name: borderMod
category: Modifier Classes
---
Sets border properties on element

Class                   | Description
----------------------- | --------------------------------
`.border--top`          | sets a standard top border on the element
`.border--none`         | removes all borders from element
`.bordered`             | sets a standard top border AND top padding
*/

%border--top,
.border--top {
	@include standardBorder();
}

%border--none,
.border--none {
	border-width: 0 !important;
}

%bordered,
.bordered {
	@extend %border--top;
	padding-top: $space;
}
