/*doc
---
title: Display
name: displayMod
category: Modifier Classes
---
Modifies display property of element

Class                   | Description
----------------------- | --------------------------------
`.display--none`        | sets `display` to `none`
`.display--block`       | sets `display` to `block`
`.display--inline`      | sets `display` to `inline`
`.display--inlineBlock` | sets `display` to `inlineblock`
*/
@each $display in $display-values {
	$modifierVariant: str-replace($display, '-block', 'Block'); // camelCase inline-block
	%display--#{$modifierVariant},
	.display--#{$modifierVariant} {
		display: $display;
	}
}


/*doc
---
title: Flex Parent
name: flexParentMod
parent: displayMod
---
Sets `display: flex` rules for selected element as well as
orientation rules for `row` or `column`.

Class                   | Description
----------------------- | --------------------------------
`.flexParent--row`      | sets `display` to `flex` with row orientation for children
`.flexParent--column`   | sets `display` to `flex` with column orientation for children
*/
@each $orientation in ('row', 'column') {
	%flexParent--#{$orientation},
	.flexParent--#{$orientation} {
		@include flexParent($orientation);
	}
}
