/*doc
---
title: Float
name: floatMod
category: Modifier Classes
---
Float clearing.

Class             | Description
----------------- | -----------------------------------------
`.clearfix`       | clears `float` property of children

*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	height: 0;
}

.ieRoot_lt_IE10 .clearfix {
	zoom: 1;
}

