/*doc
---
title: Media-conditional modifiers
name: mediaMod
category: Modifiers
---

Media-conditional modifiers allow us to apply
a modification at a specific breakpoint.

#### Signature

`.[property]--[modification]--[breakpoint][Up|Down|Small]`

ie. `.align--center--mOnly` applies center text alignment at the small breakpoint only

#### Supported media and modifications
_Better documentation for this TK_

- `.align--[ center | right | left ]--[ small | medium | large ][ Up | Down | Only ]`
- `.display--[ none | inline | inlineBlock | block ]--[ small | medium | large ][ Up | Down | Only ]`
- `.border--[ none | top ]--[ small | medium | large ][ Up | Down | Only ]`

Example TK
*/

// text align
@each $alignment in (center, right, left) {
	@include _bpModifier('align', $alignment) {
		text-align: $alignment !important;
	}
}

// display
@each $display in $display-values {
	@include _bpModifier('display', str-replace($display, '-block', 'Block')) {
		display: $display !important;
	}
}

// border
@include _bpModifier('border', 'top') {
	border-top: $border-standard !important;
}
@include _bpModifier('border', 'none') {
	border-width: 0 !important;
}
