/*doc
---
title: Thumbnails
name: thumb
category: Modifiers
---
TODO: doc this
*/
.thumb {
  background-position: center;
  background-size: cover;
  display: block;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}
