/*doc
---
title: Headings
name: headings
category: Typography
---
TK - notes about UI text vs. body text

```html_example
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p>Body text</p>
<p class="text--hint">Hint text</p>
<p class="text--small">Small text</p>
<p class="text--caption">Caption text</p>
```
*/


/*
  Further Reading:
  http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
  http://alistapart.com/article/more-meaningful-typography
*/


h1, h2, h3 {
	font-weight: $W_bold;
	letter-spacing: -0.02em;
	.inverted & {
		font-weight: $W_medium;
	}
}

h4, h5, h6 {
	font-weight: $W_medium;
}

// H1
// Main header, in the header bar
h1 {
	font-size: $font-size-display1;
	line-height: $line-height-large;

	.view-head & {
		color: $C_textPrimaryInverted;
		font-size: $font-size;
	}
}


// H2 - H6
// Defaults - use tags semantically, style w/ classes
h2, h3, h4, h5, h6 {
	color: $C_textPrimary;
	line-height: $line-height;

	.inverted & {
		color: $C_textPrimaryInverted;
		font-weight: $W_medium;
	}
}

h2 {
	font-size: $font-size-display2;
}

h3 {
	font-size: $font-size-display3;
}

h4 {
	font-size: $font-size-headline;
}

h5, h6 {
	font-size: $font-size;
}

/*doc
---
title: Display text
name: displayText
parent: headings
---
Display text for header hero elements.

```html_example
<h1 class="text--display">The hero gotham deserves</h1>
```
*/
%text--display,
.text--display {
	color: $C_textPrimary;
	font-size: $font-size-display2;
	font-weight: $W_bold;
	line-height: $line-height-large;
	.inverted &{
		color: $C_textPrimaryInverted;
		font-weight: $W_medium;
	}
}

@include atMediaUp(medium) {
	.text--display {
		font-size: $font-size-display1;
	}
}

%text--display2,
.text--display2 {
	color: $C_textPrimary;
	font-size: $font-size-display3;
	font-weight: $W_bold;
	line-height: $line-height-large;
	.inverted &{
		color: $C_textPrimaryInverted;
		font-weight: $W_medium;
	}
}

@include atMediaUp(medium) {
	.text--display2 {
		font-size: $font-size-display2;
	}
}

%text--display3,
.text--display3 {
	color: $C_textPrimary;
	font-size: $font-size-display3;
	font-weight: $W_bold;
	line-height: $line-height-large;
	.inverted &{
		color: $C_textPrimaryInverted;
		font-weight: $W_medium;
	}
}

/*doc
---
title: Headline text
name: headlineText
parent: headings
---
Headline text for when something between display and normal text is needed.

```html_example
<h2 class="text--headline">If display text is Batman, I'm Robin</h2>
```
*/
%text--headline,
.text--headline {
	color: $C_textPrimary;
	font-size: $font-size-headline;
	font-weight: $W_bold;
	line-height: $line-height-large;
	.inverted & {
		color: $C_textPrimaryInverted;
		font-weight: $W_medium;
	}
}
big { @extend %text--headline; }

/*doc
---
title: Header text
name: headerText
parent: headings
---
Graphic text element used to label content. For example, used to display dates.

```html_example
<p class="text--headline">03</p>
<h2 class="text--header">Nov</h2>
```
*/
%text--header,
.text--header {
	color: $C_textPrimary;
	font-size: $font-size-small;
	font-weight: $W_bold;
	letter-spacing: -0.02em;
	line-height: $line-height-small;
	word-spacing: 0.1em;
	.inverted & {
		color: $C_textPrimaryInverted;
	}
	@include i18n-only('en') {
		text-transform: uppercase;
	}
}

/*doc
---
title: Secondary header text
name: secondaryHeaderText
parent: headings
---
Lighter variant of `header`. For example, used in the redesign to label a MUP with a MUG name.

```html_example
<h2 class="text--headerSecondary">Foreign Androids Feeling Frustrated</h2>
<p class="text--bold">Building with Sassquatch2</p>
```
*/
%text--headerSecondary,
.text--headerSecondary {
	color: $C_textSecondary;
	font-weight: $W_medium;
	line-height: $line-height-small;
}
