code {
	display: block;
	padding: 0.5em;
	margin: 0.5em;
	background-color: rgba(255, 192, 203, 0.29);
}

h1 {
	color: #000;
}

h2 {
	margin-top: 2em; /* TEMP */
}
h3 {
	margin-top: 1em; /* TEMP */
}

#content {
	padding: 3em; /* TEMP */
}
