/*doc
---
title: String utils
name: string
category: Sass Utils | Functions
---
*/


/*doc
---
title: str-firstCharToUpper
name: str-firstCharToUpper
parent: string
---
Capitalizes first letter of a given string. Useful as a camelCase converter.

_returns string_

```
str-firstCharToUpper('snowflake') // -> 'Snowflake'

.special#{str-firstCharToUpper('snowflake')} // -> .specialSnowflake
```
*/
@function str-firstCharToUpper( $string ) {
	@return #{to-upper-case(str-slice($string, 1, 1))}#{str-slice($string, 2, -1)};
}


/*doc
---
title: str-replace
name: str-replace
parent: string
---
Search and replace on strings.

_returns string_

```
str-replace('inline-block', '-', '') // -> 'inlineblock'

.display--#{str-replace('inline-block', '-block', 'Block')} -> .display--inlineBlock
```
*/
@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@if str-index($string, $search) {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

