@import "../vars";

// File description hide/show
.file-description {
  display: none;
}

.chunkList-row--large {
  .file-description {
    display: block;
    margin-top: $space-half;
  }
}

// Timestamped stuff
.chunkList--timestamped {
  .chunkList-chunk--action {
    display: none;
  }
  &.edit-mode {
    .chunkList-chunk--action {
      display: table-cell;
    }
  }
}

// toggling edit mode on the messages stuff
a[href="#toggle-edit"] {
  float: right;
}