/*doc
---
title: Split View
name: splitView
category: Views
---
A "split view" is a pair of `view` elements, each with a special variant
class applied to set the responsiblity of each view as either the "list" component
or the "detail" component.

A `flexParent--row` parent is required in order to treat `view--splitList` and
`view--splitDetail` as flex children.

<a class="link" href="pages/split-view.html">Demo</a>

```
<div class="flexParent--row">
	<div class="view view--splitList">
		<header class="view-head">
			... view-head ...
		</header>
		<main class="view-body">
			... view-body ...
		</main>
	</div>

	<div class="view view--splitDetail">
		<header class="view-head">
			... view-head ...
		</header>
		<main class="view-body">
			... view-body ...
		</main>
	</div>
</div>
```

Each view in the split view pair requires the `view` class. The following
variant classes assign the view role:

Class                  | Description
---------------------- | ---------------------------
`view--splitList`      | Sets view to "list style" when viewport is wide enough
`view--splitDetail`    | Sets view to "detail style" when viewport is wide enough
*/

%_splitViewBase {
	height: 100vh;
	display: none;
	&.focus {
		display: block;
	}
}

.view--splitList {
	@extend %_splitViewBase;
	overflow-y: scroll;
	overflow-x: hidden;

	@include browser-modern() {
		@include atMediaUp(medium) {
			@include flexChild('shrink');
			@include flex-basis($view-minWidth);
			@include standardBorder('right');
		}
	}
}

.view--splitDetail {
	@extend %_splitViewBase;

	@include browser-modern() {
		@include atMediaUp(medium) {
			@include flexChild('grow');
			display: block;
		}
	}
}
