/*doc
---
title: View Body
name: viewBody
category: Views
---
The `view-body` element is our main
content container for the view.

```
<div class="view">
	<main class="view-body">
		... stripes, bounds, etc ...
		... all content ...
	</main>
</div>
```
*/
.view-body {
	@include flexChild('grow', false);
	@include flex-basis(auto);
	box-sizing: border-box;
	height: auto;
}
