/*doc
---
title: Alignment Utilities
name: align
category: Sass Utils | Mixins & Placeholders
---
*/


/*doc
---
title: Vertical-align children
name: valign
parent: align
---
__Try to avoid using for essential, non-decorative things__
Aligns children of selected element using flexbox.

```
@extend %valignChildren;
@extend %valignChildren--bottom;
```
*/

%valignChildren {
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);

	.ieRoot_lt_IE10 & {
		display: table-cell;
		vertical-align: center;
	}
}

%valignChildren--bottom {
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(flex-end);

	.ieRoot_lt_IE10 & {
		display: table-cell;
		vertical-align: bottom;
	}
}


