/*doc
---
title: Button utilities
name: button
category: Sass Utils | Mixins & Placeholders
---
*/


/*doc
---
title: Button personality placeholder
name: buttonPersonality
parent: button
---
Disables user-select, sets cursor, and resets text-decoration.

```
@extend %buttonPersonality;
```
*/
%buttonPersonality {
	@include user-select(none);
	cursor: pointer;
	text-decoration: none !important;
}

@mixin buttonBase() { // for specificity accuracy in transitional buttons
	@include transition(background .15s);
	@include standardBorder('all');
	@include user-select(none);
	box-sizing: border-box;
	-webkit-appearance: none;
	background: transparent;
	border-radius: $defaultRadius;
	border: $btn-border $C_border;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size;
	font-weight: $W_bold;
	margin: 0;
	padding: $space-half $space;
	text-align: center;
	text-decoration: none !important;
	&:focus {
		outline: 0;
	}
}
%buttonBase {
	@include buttonBase;
}
