/*doc
---
title: Button utilities
name: button
category: Sass Utils | Mixins & Placeholders
---
*/


/*doc
---
title: Button personality placeholder
name: buttonPersonality
parent: button
---
Disables user-select, sets cursor, and resets text-decoration.

```
@extend %buttonPersonality;
```
*/
%buttonPersonality {
	@include user-select(none);
	cursor: pointer;
	text-decoration: none !important;
}

@mixin buttonBase() {
	@extend %text--bold;
	@extend %buttonPersonality;
	@include display(inline-flex);
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	box-sizing: border-box;
	font-weight: $W_bold;
	border-radius: $defaultRadius;
	-webkit-appearance: none; // kill iOS input styles
	min-width: $block-3;
	min-height: $space*2;
}

@mixin button--solid( $color: $defaultButtonColor ) {
	color: getPrimaryTextColor($color);
	background: $color;
	border: 1px solid $color;
	background-clip: padding-box;
}

@mixin button--bordered( $color: $defaultButtonColor ) {
	color: $color;
	border: 1px solid $color;
}


//
// Legacy placeholder/mixin support
// (later, remove these one at a time and fix what breaks)
//
%buttonBase {
	@include buttonBase();
}

%button--bordered {
	@include button--bordered();
}

%button--small {
	font-size: $font-size-small;
	padding: $space/4 0;
}
