/*doc
---
title: Button utilities
name: button
category: Sass Utils | Mixins & Placeholders
---
*/


/*doc
---
title: Button personality placeholder
name: buttonPersonality
parent: button
---
Disables user-select, sets cursor, and resets text-decoration.

```
@extend %buttonPersonality;
```
*/
%buttonPersonality {
	@include user-select(none) ;
	cursor: pointer;
	text-decoration: none!important;
}
