/*doc
---
title: Button utilities
name: button
category: Sass Utils | Mixins & Placeholders
---
*/


/*doc
---
title: Button personality placeholder
name: buttonPersonality
parent: button
---
Disables user-select, sets cursor, and resets text-decoration.

```
@extend %buttonPersonality;
```
*/
%buttonPersonality {
	@include user-select(none);
	cursor: pointer;
	text-decoration: none !important;
}

/*doc
---
title: Button base placeholder
name: buttonBasePlaceholder
parent: buttons
---
Applies base button styles

```
@extend %buttonBase;
```
*/
%buttonBase {
	@extend %buttonPersonality;
	@include display(inline-flex);
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	@include transition(background .15s);
	@include standardBorder(all);
	box-sizing: border-box;
	-webkit-appearance: none;
	vertical-align: middle;
	border-radius: $defaultRadius;
	background: transparent;
	font-size: $font-size;
	font-weight: $W_bold;
	min-height: $space-3;
	padding: 0 $space;
	line-height: $line-height;
}

/*doc
---
title: Button hover placeholder
name: buttonHoverPlaceholder
parent: buttons
---
Applies default button `:hover`,
`:active`, and `:focus` styles

```
@extend %buttonHover;
```
*/
%buttonHover {
	&:hover,
	&:focus {
		background: transparentize($C_textPrimary, .8);
		border-color: transparent;
	}

	&:active {
		background: transparentize($C_textPrimary, .75);
		border-color: transparent;
	}
}


/*doc
---
title: Button color mixin
name: buttonColorMixin
parent: button
---
Sets color properties for a button

```
.button--myOrangeButton {
	@include buttonColor(orange);
}
```
*/
@mixin buttonColor($bgColor: $C_purple) {
	@include color-all(getPrimaryTextColor($bgColor), true);
	background: $bgColor;
	border-color: $bgColor;

	&:hover,
	&:focus {
		@if isDark($bgColor) {
			background: lighten($bgColor, 10%);
		} @else {
			background: darken($bgColor, 8%);
		}
	}

	&:active {
		background: darken($bgColor, 8%);
	}
}
