/*doc
---
title: Display utils
name: display
category: Sass Utils | Mixins & Placeholders
---
*/



/*doc
---
title: Pseudo-element display mixin
name: pseudoDisplay
parent: display
---
Sets display property for psuedo-elements

```
@include pseudoDisplay($value: block);
```
*/
@mixin pseudoDisplay($value: block) {
	content: '';
	display: $value;
}

/*doc
---
title: Visually hide an element mixin
name: visualHide
parent: display
---
Hide an element visually, but keep it available to screenreaders

```
@include visualHide();
```
*/
@mixin visualHide() {
	border: 0;
	clip: rect(0 0 0 0);
	position: absolute;
	overflow: hidden;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
}

/*doc
---
title: Visually show an element mixin
name: visualShow
parent: display
---
Used to override the visualHide() mixin

```
@include visualShow();
```
*/
@mixin visualShow() {
	clip: auto;
	clip: rect(auto auto auto auto);
	position: static;
	overflow: visible;
	margin: 0;
	width: auto;
	height: auto;
}
