/*doc
---
title: Flexbox
name: flexboxUtil
category: Sass Utils | Mixins & Placeholders
---
*/

/*doc
---
title: Flex parent
name: flexParentUtil
parent: flexboxUtil
---

Sets flexbox properties for a flex parent (`display: flex;`)

```
@include flexParent('row'); // displays element as flex with children in row orientation
@include flexParent('column'); // displays element as flex with children in column orientation
```
*/
@mixin flexParent( $orientation ) {
	@include display(flex);
	@include justify-content(flex-start);
	@include align-items(flex);

	@if '#{$orientation}' == 'row' {
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include browser-lessThanIE( 10 ) {
			@include box-sizing(border-box);
			display: table;
			table-layout: auto;
			width: 100%;
		}
	} @else {
		@include flex-direction(column);
		@include browser-lessThanIE( 10 ) {
			display: block;
		}
	}
}


/*doc
---
title: Flex child
name: flexChildUtil
parent: flexboxUtil
---

Sets flexbox properties for a flex children.

```
@include flexChild('grow'); // sets element to grow to fill remaining space in flex parent
@include flexChild('shrink'); // sets element to shirnk to the width of its content
```
*/
@mixin flexChild( $variant ) {
	@if #{$variant} == "grow" {
		@include flex-grow(1);
		@include flex-basis(0);
		width: auto;
		min-width: 0;

		@include browser-lessThanIE( 10 ) {
			display: table-cell;
			width: 50%; /* for rows with two items, stop at 50% */
		}
	} @else {
		@include flex-grow(0);
		@include flex-shrink(0);
		@include flex-basis(auto);
		width: initial;

		@include browser-lessThanIE( 10 ) {
			width: auto;
		}
	}
}
