//TODO: doc and/or rewrite
@mixin modal-dialog{
	@include transform( translate3d(0, 0, 0) );
	@include transition(transform .2s ease);
	left: 50%;
	margin-left: -($modal-width/2);
	margin-top: 10vh; // Can we do this kind of thing on native?
	position: absolute;
	width: $modal-width;

	&.off{
	  @include transform( translateY(100vh) );
	}
  }

@mixin modal-full{
	@include transform( translate3d(0, 0, 0) );
	@include transition(transform .3s);
	left: 0;
	margin: 0;
	min-height: 100vh;
	position: absolute;
	top: 0;
	width: 100%;
	&.off{
		@include transform( translateY(100vh) );
	}
}

