/*doc
---
title: Text utils
name: text
category: Sass Utils | Mixins & Placeholders
---
*/



/*doc
---
title: Text protection shim
name: textProtection
parent: text
---
Adds a pseudo-element gradient

```
@mixin textProtectionScrim($placement: 'top'); // 'bottom' will place gradent on bottom of el
```
*/
$C_scrimGradient: #0F141F; // move to swatches?
@mixin textProtectionScrim($placement: 'top') {
	&:before {
		@include linear-gradient(transparentize($C_scrimGradient, 1) 0%, transparentize($C_scrimGradient, .9) 25%, transparentize($C_scrimGradient, .1) 100%);
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 0;

		@if $placement == 'top' {
			top: 0;
		} @else {
			bottom: 0;
		}
	}
}

//
// PRIVATE
// support for weight resetting for text variants
//
%_normalWeight {
	font-weight: normal;
}


//
// PRIVATE
// support for heading decentant specificity in
// text variants (useful for applying a class to a
// container instead of each individual element)
//
@mixin _headingDecentants() {
	&,
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		@content;
	}
}
