/*doc
---
title: Basic Inputs
name: forms
category: Forms
---

## Text inputs

```html_example
<div class="chunk">
	<label for="test-textinput" class="required">I'm a label</label>
	<input id="test-textinput" type="text" value="Text input with value" />
</div>

<div class="chunk">
	<label for="test-textinput2">Just another label</label>
	<input id="test-textinput2" type="text" placeholder="Text input with placeholder" />
</div>

<div class="chunk">
	<label for="test-textarea">Here's an area for your text</label>
	<textarea id="test-textarea"></textarea>
</div>

<div class="chunk">
	<label for="test-select">What is this?</label>
	<select id="text-select">
		<option value="One">One</option>
		<option value="Two">Two</option>
		<option value="Three">Three</option>
		<option value="Four">Four</option>
	</select>
</div>

<div class="row">
	<div class="row-item chunk">
		<label for="split1">Favorite number</label>
		<input id="split0" type="number" />
	</div>
	<div class="row-item chunk">
		<label for="split1">Unicorn name</label>
		<input id="split1" type="text" placeholder="ie. Fluffy, Resplendent" />
	</div>
	<div class="row-item chunk">
		<label class="required" for="split2">Unicorn color</label>
		<select id="split2">
			<option value="clear">Transparent</option>
			<option value="green">Toasted clove saffron</option>
			<option value="brown">Midnight brown</option>
			<option value="black">Seabreeze black</option>
		</select>
	</div>
</div>
```

*/
%label,
label {
	font-size: $font-size-small;
	font-weight: $W_bold;

	&.required:after {
		content: "*";
		color: $C_attention;
		font-size: $font-size-big;
		line-height: 0;
		margin-left: $space/4;
		position: relative;
		top: 3px;
	}
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}


%_formBase,
button,
input,
select,
textarea {
	display: block;
	font-family: inherit;
	font-size: 100%;
	line-height: $line-height;
}

%_formTextField,
#{$all-text-inputs},
textarea,
select {
	background-color: $C_lightGray;
	border-radius: $defaultRadius;
	border: 1px solid $C_border;
	box-shadow: none;
	box-sizing: border-box;
	margin: 0 0 $space-quarter 0;
	max-width: 100%;
	padding: $space-half;
	width: 100%;
	&:focus {
		background: $C_contentBG;
		border-color: $C_lightPurple;
		box-shadow: none;
		outline: none;
	}
}

input,
select {
	height: ($font-size * $line-height) + $space;
}

textarea {
	min-height: (3 * $font-size * $line-height) + $space;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-style: normal;
	color: $C_textTertiary;
}

// switch labels
.label--switch {
  font-size: $font-size;
	font-weight: $W_normal;
  position: relative;
}

