/*doc
---
title: Basic Inputs
name: forms
category: Forms
---

TK: better docs

## Text inputs

```html_example
<div class="chunk">
	<label for="test-textinput">I'm a label</label>
	<input id="test-textinput" type="text" value="Text input with value" />
</div>

<div class="chunk">
	<label for="test-textinput2">Just another label</label>
	<input id="test-textinput2" type="text" placeholder="Text input with placeholder" />
</div>

<div class="chunk">
	<label for="test-textarea"l>Here's an area for your text</label>
	<textarea id="test-textarea"></textarea>
</div>

<div class="chunk">
	<label for="test-select">What is this?</label>
	<select id="text-select">
		<option value="One">One</option>
		<option value="Two">Two</option>
		<option value="Three">Three</option>
		<option value="Four">Four</option>
	</select>
</div>
```

*/


// TODO: doc label-switch
.label--switch {
  font-size: $font-size;
  position: relative;
}

//TODO: do we use these? How? Why?
// once sorted out, move into a forms/_partial
//
/* INLINE FORM */
//
.inline-form {
	margin-left: -$space-quarter;
	margin-right: -$space-quarter;
}

// Meant for use in inline forms
.small-input {
  min-width: $block-2; //need to use min-width because ffbox is weird
}

