/*doc
---
title: Checkboxes
name: checkbox
category: Forms
---

TK
*/

// TODO: needs a lot of selector refactoring.
//
/* CHECKBOXES */
//
.checkbox[type=checkbox] {
	-webkit-appearance: none;
	cursor: pointer;
	display: inline-block;
	height: $font-size;
	margin: 0 $space 0 0;
	position: relative;
	top: em(1);
	width: $font-size;
	z-index: 0;
	&:before {
		@include transition (transform, 100ms, $ease-out-quad);
		@include transform(rotate(-45deg) scale(0, 0));

		content: "";

		position: absolute;
		left: em(4);
		top: em(3);
		z-index: 1;

		width: em(8);
		height: em(4);

		border: 2px solid $C_textPrimaryInverted;
		border-top-style: none;
		border-right-style: none;
	}

	&:checked {
		&:before {
			@include transform(rotate(-45deg) scale(1, 1));
		}
	}

	&:after {
		content: "";

		position: absolute;
		top: em(-2);
		left: 0;

		width: 100%;
		height: 100%;

		background: $C_contentBG;

		border: 1px solid $C_textTertiary;
		border-radius: $defaultRadius;

		cursor: pointer;
	}

	&:checked, &:active {
		&:after {
			background: $C_link;
		}
	}

	&:hover, &:focus {
		outline: none;
		&:after {
			box-shadow: inset 2px 2px 4px $C_border;
			border: 1px solid $C_textSecondary;
		}
	}
}

// INVERTED CHECKBOX INPUT
.inverted {
	.checkbox[type=checkbox] {
		&:after {
			background: $C_contentBGInverted;
			border: 1px solid $C_textSecondaryInverted;
		}

		&:hover, &:focus {
			&:after {
				box-shadow: inset 2px 2px 4px $C_border;
				border: 1px solid $C_textPrimaryInverted;
			}
		}

		&:checked, &:active {
			&:after {
				background: $C_link;
			}
		}
	}
}
