/*doc
---
title: Input Stack
name: inputStack
category: Forms
---
Creates a "stack" of inptus grouped together

```html_example
<fieldset class="inputStack">
	<h3 class="inputStack-label">Stacked inputs label</h3>
	<div class="inputStack-input">
		<label for="stackedInput-input1">Just another label</label>
		<input id="stackedInput-input1" type="text" placeholder="Title" />
	</div>

	<div class="inputStack-input">
		<label for="stackedInput-input2">Just another label</label>
		<input id="stackedInput-input2" type="text" placeholder="Location" />
	</div>

	<div class="inputStack-input">
		<label for="stackedInput-textarea">Here's an area for your text</label>
		<textarea id="stackedInput-textarea" placeholder="Description"></textarea>
	</div>
</fieldset>
```
*/
.inputStack {

	label {
		@include a11yVisibility('hidden');
	}

	input,
	textarea {
		border-bottom-width: 0;
		border-radius: 0;
		margin-bottom: 0;

		&:focus {
			border-bottom-width: 1px;
		}
	}

}

.inputStack-label {
	font-size: $font-size-small;
	font-weight: $W_bold;
}

.inputStack-input {

	&:first-of-type {
		input,
		textarea {
			border-radius: $defaultRadius $defaultRadius 0 0;
		}
	}

	&:last-child {
		input,
		textarea {
			border-bottom-width: 1px;
			border-radius: 0 0 $defaultRadius $defaultRadius;
		}
	}

}
