/*doc
---
title: Radios
name: radio
category: Forms
---
A label variant class of `label--switch` is
used for side-by-side inputs and labels.

For radios and checkboxes, we put the `input`
element inside the `label` element.

A class of `radio` is __required__ on radio input
elements.

```html_example
<label for="radio1" class="label--switch chunk">
	<input id="radio1" class="radio" name="radioExample" value="green" type="radio" />
	Green
</label>
<label for="radio2" class="label--switch chunk">
	<input id="radio2" class="radio" name="radioExample" value="red" type="radio" />
	Red
</label>
```
*/

//
/* RADIOS */
//
.radio {
	cursor: pointer;
	display: inline-block;
	font-size: $font-size;
	margin: 0 $inputGutter 0 0;
	position: relative;

	@include browser-lessThanIE(10) {
		top: $space/2;
	}
}
