@font-face {
	font-family: 'Graphik';
	src: url('./GraphikApp-Regular.ttf')  format('truetype');
	font-weight:400;
	font-style:normal;
	unicode-range:U+0-00FF;
}
@font-face {
	font-family: 'Graphik';
	src: url('./GraphikApp-Medium.ttf')  format('truetype');
	font-weight:500;
	font-style:normal;
	unicode-range:U+0-00FF;
}
@font-face {
	font-family: 'Graphik';
	src: url('./GraphikApp-Semibold.ttf')  format('truetype');
	font-weight:600;
	font-style:normal;
	unicode-range:U+0-00FF;
}
